img {
    max-width: 200px;
    max-height: 200px;
}

@font-face { 
    font-family: Unicorn; 
    src: url('../fonts/Unicorn.otf'); 
} 

.productsLink {
    color: #f46e21;
    font-family: 'Unicorn';
    font-size: 24px;
    line-height: 40px;
    margin: 0px 20px; 
    display: inline-block;
}

.productsLink:hover {
    color: #8cbb7c;
}

#pagenameLink { 
    margin: 8px 20px; 
    display: inline-block;
}

#login {
    color: #f46e21;
    font-family: 'Unicorn';
    font-size: 24px;
    line-height: 40px;
    margin: 0px 20px; 
    display: inline-block;
    float: right;
    margin-top: 26px;
}

#login:hover {
    color: #8cbb7c;
}

#wrapper {
    min-height: 100%;
    min-width: 540px;
    position: relative;
}

#headerbar {
    height: 95px;
    width: 100%;
    background-color: #FFF;
    /*border-style: solid;
    border-color: #D3D3D3;
    border-width: 0px 0px 1px 0px;*/
}

.hero-image {
    /* The image used */
    background-image: url("../img/fruits_hero.jpg");

    /* Set a specific height */
    height: 40%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: url('../img/whiteBG.png');
}

.hero-text h1 {
    color: #f46e21;
    font-family: 'Unicorn';
    font-size: 72px;
    width: 550px;
}

#products {
    padding-bottom:110px; /* Height of the footer element + little bit playarea */
}

.product {
    /*border: 1px solid #ccc;*/
    background-color: #fafafa;
    width: 100%;
    margin: 5px 4% 5px 4%;
    height: 450px;
    overflow: hidden;
    border-radius: 4px;
    
}

#footer {
    background-color: #8cbb7c;
    height: 100px;
    width: 100%;
    position:absolute;
    bottom:0;
    left:0;
}

#footer p {
    color: #FFFFFF;
    margin-top: 45px;
}

.col-xs-4 {
    width: 50%;
    
}
.col-xs-6{
    margin-top: 15px;
}

.col-xs-12 {
    padding: 0px 0px
}

.col-xs-12 img {
    display: block;
    margin: 0px auto 10px;
}

.col-xs-12 h4 {
    display: block;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.col-xs-12 p {
    display: block;
    text-align: center;
    margin: 0 0 15px;
}

.col-xs-12 h3 {
    height: auto;
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 20px; 
    font-weight: bold;
    line-height: 1;
    text-align: center; 
    margin: 15px 5px 15px 5px;
}